@font-face {
 font-family: young-serif;
 src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
 font-family: outfit;
 src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
 font-family: outfit;
 font-weight: 300;
 background-color: hsl(30, 54%, 90%);
 color: hsl(30, 10%, 34%);
 line-height: 1.7;
 margin: 0;
 box-sizing: content-box;
}

.container {
 margin: auto;
 background-color: hsl(0, 0%, 100%);
 width: 736px;
 border-radius: 22px;
 margin-top: 122px;
 padding: 40px;
}

picture {
 height: 300px;
}

img{
 border-radius: 12px;
}

h1 {
 font-family: young-serif;
 font-weight: 400;
 font-size: 40px;
 color: hsl(24, 5%, 18%);
 margin-top: 15px;
 margin-bottom: 0;
}

h2 {
 font-family: young-serif;
 font-weight: 400;
 color: hsl(14, 45%, 36%);
}

li {
 margin-left: -15px;
}

b {
 font-weight: 600;
}

li b {
 margin-left: 15px;
}

ol { 
 list-style: none; 
 counter-reset: num; 
 padding-left: 50px;
} 

ol li { 
 counter-increment: num; 
 text-indent: -2rem;
} 

ol li::before { 
 content: counter(num) ". "; 
 color: hsl(14, 45%, 36%); 
 font-weight: 600;
 
} 

#ingredients li{
 counter-increment: num; 
 text-indent: 12px;
}

figure {
 background-color: hsl(330, 100%, 98%);
 padding: 26px;
 margin-left: 0;
 margin-top: 35px;
 border-radius: 16px;
}

figcaption {
 font-family: outfit;
 font-size: 20px;
 font-weight: 600;
 color: hsl(332, 51%, 32%);
}

#nutrition figure {
background-color: hsl(0, 0%, 100%);
margin-top: -30px;
}

#nutrition figcaption {
 font-size: 16px;
 color: hsl(30, 10%, 34%);
 font-weight: 400;
 margin-bottom: 20px;
 margin-left: -25px;
}

table {
 margin-left: -25px;
 width: 735px;
}

tr {
text-align: left;
border-bottom: 1px solid hsl(30, 18%, 87%);
}

th {
 padding-left: 40px;
 width: 230px;
 border-bottom: 1px solid hsl(30, 18%, 87%);
}

td {
 width: 300px;
 height: 40px;
 border-bottom: 1px solid hsl(30, 18%, 87%);
}

section {
 border-bottom: 0.5px solid hsl(30, 18%, 87%);
 padding-bottom: 10px;
}

#nutrition {
 border-bottom: none;
}

  .attribution { 
   margin-top: 30px;
   margin-bottom: 30px;
   font-size: 11px; text-align: center; 
  }
  .attribution a { 
   color: hsl(14, 45%, 36%);; 
  }

  .attribution a:hover { 
   color: hsl(30, 10%, 34%); 
   text-decoration: none;
  }


  @media screen and (max-width: 820px) {
   body {
    background-color: hsl(0, 0%, 100%);
    overflow-x: hidden;
   }

   .container {
    background-color: hsl(0, 0%, 100%);
    width: 100vw;
    margin-top: 0;
    padding:0px;
   }

   header {
    width: 100vw;
    padding: 0;
   }

   h1, p, figure {
    padding-left: 40px;
    padding-right: 40px;
   }
   picture {
    width: 100vw;
   }
   img{
    border-radius: 0px;
    width: 100vw;
   }
  
   figure {
    background-color: hsl(330, 100%, 98%);
    padding: 26px;
    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: -25px;
    border-radius: 16px;
   }

   main {
 padding: 40px;
   }

   #ingredients ul {
    padding-left: 40px;
   }

   #ingredients li{
    counter-increment: num; 
    text-indent: 0px;
    padding-left: 14px;
   }

   #nutrition figcaption {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: -65px;
   }

   table {
    margin-left: -60px;
    width: 85vw;
   }

   tr {
    text-align: left;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    }
    
    th {
     padding-left: 40px;
     width: 0px;
     border-bottom: 1px solid hsl(30, 18%, 87%);
    }
    
    td {
     width: 10px;
     height: 40px;
     border-bottom: 1px solid hsl(30, 18%, 87%);
    }

  }